<center><img src="img/ovejeroaleman.jpg"></center>

<form id="form1" name="form1" method="post" action="loginadmin.php?accion=login">
	<table align="center" border="0" cellspacing="0"  cellpadding="5">
	  <tr>
	    <td>Usuario:</td><td><input name="usuario" type="text" class="text" /></td>
    </tr>
    <tr>
   	    <td>Clave:</td><td><input name="clave" type="password" class="password"  /></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><input name="ingresar" type="submit" class="submit" id="ingresar" value="Ingresar" /></td>
      </tr>
    </table>
</form>

