
<div style="text-align:center;">
	<div style="width:100%;text-align:center;"><!--{include file="contenido_login.tpl.html"}--></div>

	<br />

	<table align="center" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td valign="top">
				<div style="margin: 0pt 0pt 10px 10px; float: right; cursor: pointer;text-align:center;">
					<embed quality="high" type="application/x-shockwave-flash" wmode="transparent" src="http://www.frappr.com/ajax/yvmap.swf" flashvars="host=http://www.frappr.com/&origin=unknown&lo=1&mvid=68719719779" salign="l"  scale="noscale" width="270" height="700"  ></embed>
				</div>
			</td>
			<td valign="top" align="left" style="padding-left:10px;">
				<div>
					<!--{include file="contenido_listado_ingresados.tpl.html"}-->
				</div>
			</td>
		</tr>
	</table>
	<!--{*  <div>
		<a href="http://visitor.frappr.com/?sig=visitor_map&src_mvid=68719719779&origin=unknown" target=_blank><img src="http://frappr.com/i/gyo.gif" border=0/></a>
		<a href="http://www.frappr.com/?a=constellation_map&mapid=68719717542&src=flash_map&sig=visitor_map&src_mvid=68719719779&origin=unknown&ct=seemore" target=_blank><img src="http://frappr.com/i/s.gif" border=0/></a>
		<a href="http://www.frappr.com/?a=constellation_map&mapid=68719717542&src=flash_map&sig=visitor_map&src_mvid=68719719779&origin=unknown&ct=pendingpins" target=_blank><img src="http://frappr.com/dyn_map/68719717542/origin:unknown/p.gif" border=0/></a>
		<a href="http://www.frappr.com/?a=feedback&type=vm" target=_blank><img src="http://frappr.com/i/h.gif" border=0/></a>
	</div>
	*}-->
</div>