<script language="javascript" type="text/javascript" src="sitio.js"></script>
<script language="javascript" type="text/javascript">
function validar(){
      var frm = document.getElementById("form1");
      var msg = new String();

      if(trim(frm.preguntas.value) == ""){
         msg = "Debe ingresar Preguntas y Respuestas.";
      }	 
      
      if(trim(frm.descripcion.value) == ""){
         msg = "Debe ingresar la Descripcion.";
      }	 

      if(trim(frm.nombre.value) == ""){
         msg = "Debe ingresar el nombre del Cuestionario.";
      }	  

      if(msg.length > 0){
         alert('Atención: ' + msg);
      }else{
		frm.action = "alta_cuestionario.php?accion=procesar&debug=1";
        frm.submit();
      }
}
</script>



<!--{if $alta.error}-->
	<div class="atencion" align="center">
	<b>Atención: </b>
<!--{else}-->
	<div class="exito" align="center">
<!--{/if}-->

<!--{$alta.mensaje}--></div>

<div>

	<form id="form1" name="form1" action="javascript:validar();" method="POST" enctype="multipart/form-data">
	<table align="center" border="0" cellspacing="2" cellpadding="0">
	  <tr>
	    <td colspan="2"><h3>Alta de Cuestionario</h3></td>
	  </tr>
	  <tr>
	    <td class="textform">Nombre:</td>
	    <td><input name="nombre" id="nombre" style="width:600px;" type="text" value="<!--{$smarty.post.nombre|sslash}-->" class="text" maxlength="100" /></td>
	  </tr>
	  <tr>
	    <td class="textform" valign="top">Descripi&oacute;n:</td>
	    <td><textarea name="descripcion" id="descripcion" style="width:600px;height:35px;"><!--{$smarty.post.descripcion|sslash}--></textarea></td>
	  </tr>
	  <tr>
	    <td class="textform" valign="top">Preguntas y respuestas:
		    <br /><br />
		    <div class="atencion" style="text-align:center;">Una l&iacute;nea por pregunta y respuestas <br />(separadas por "|")<br /> Ej: ¿Preg?|rsp1|rsp2|...</div>
	    </td>
	    <td><textarea name="preguntas" id="preguntas" style="width:600px;height:120px;"><!--{$smarty.post.preguntas|sslash}--></textarea></td>
	  </tr>
	  <tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	  </tr>
	  <tr>
	    <td colspan="2"><div align="right">
	      <input type="submit" value="Realizar Alta" />
	    </div></td>
	  </tr>
	</table>
	</form>

</div>