<!--{*
<form id="form1" name="form1" method="post" action="login.php">
	<table align="center" border="0" cellspacing="0"  cellpadding="5">
	  <tr>
	    <td>Usuario:</td><td><input name="usuario" type="text" class="text" /></td>
   	    <td>Clave:</td><td><input name="clave" type="password" class="password"  /></td>
        <td align="right"><input name="ingresar" type="submit" class="submit" id="ingresar" value="Ingresar" /></td>
        <td align="right"><a href="registro.php?accion=datos_personales">Registrar nuevo usuario</a></td>
      </tr>
    </table>
</form>
*}-->
<center>
<div style="width:50%;text-align:center;">

<h1>¡Nuevamente habilitado el registro de usuarios!</h1>

Se ha vuelto a habilitar el registro de nuevos usuarios, pero hemos cambiado un poco la óptica del mismo. 
De ahora en más será una <b>"Bolsa de Trabajo" (para la empresa virtual <a href="http://www.surforce.com">SurForce</A>)</b>, donde nos iremos contactando de a poco con cada uno de ustedes, 
le haremos pruebas y luego de superarlas los asignaremos a un grupo que esté desarrollando un sistema en concreto. Deberán tener paciencia porque el proceso es lento y vamos aprendiendo en base a nuestros errores.
<br><br>
<a href="registro.php?accion=datos_personales">[ Inscripci&oacute;n al taller ]</a><br><br>
Y no te olvides registrate en el mapa como forma de saludo (acostumbrate a usar fotos reales)

</div>
<b>Más información en <a href="http://phpsenior.blogspot.com/search/label/taller">PHPSenior</a></b>
</center>
