<script language="javascript" type="text/javascript" src="sitio.js"></script>
<script language="javascript" type="text/javascript">
function validar(){
      var frm = document.getElementById("form1");
      var msg = new String();

      if(trim(frm.foto.value) == ""){
         msg = "Debe subir su foto.";
      }	  

      if(trim(frm.profesion.value) == ""){
         msg = "Debe ingresar su profesión actual.";
      }	  

      if(trim(frm.pais.value) == ""){
         msg = "Debe ingresar el país en donde vive.";
      }	

      if(trim(frm.ciudad.value) == ""){
         msg = "Debe ingresar la ciudad en donde vive.";
      }	

      if(trim(frm.apellido.value) == ""){
         msg = "Debe ingresar su apellido.";
      }	  

      if(trim(frm.nombre.value) == ""){
         msg = "Debe ingresar su nombre.";
      }	  

      if(trim(frm.clave.value) == ""){
         msg = "Debe ingresar la clave.";
      }	 

      if(trim(frm.gmail.value) == ""){
         msg = "Debe ingresar el  (dirección de gmail).";
      }	 

      if(msg.length > 0){
         alert('Atención: ' + msg);
      }else{
		frm.action = "registro.php?accion=encuesta";
        frm.submit();
      }
}
</script>

<div align="center"> <h1>Paso 1 de 2 - Formulario de Registro de Usuarios</h1></div>

<div>

	<form id="form1" name="form1" action="javascript:validar();" method="POST" enctype="multipart/form-data">
	<table align="center" border="0" cellspacing="2" cellpadding="0">
	  <tr>
	    <td colspan="2"><h3>Datos Personales</h3></td>
	  </tr>
	  <tr>
	    <td valign="top" class="atencion" style="text-align:right;">Atenci&oacute;n:</td>
	    <td>Los campos marcados con asterisco <br />(<span class="atencion">*</span>) son obligatorios.</td>
	  </tr>		  
	  <tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Usuario (cuenta Gmail):</td>
	    <td><input name="gmail" type="text" value="<!--{$datos.gmail|sslash}-->" class="text" style="width:200px;" id="gmail" maxlength="50" />
		<a href="http://mail.google.com/mail/signup?co=apla&pc=hppooi&hl=es">[Crear cuenta en gmail]</A>	
		</td>
	  </tr>	
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Clave:</td>
	    <td><input name="clave" type="password" value="<!--{$datos.clave|sslash}-->" class="text" style="width:200px;" id="clave" /></td>
	  </tr>	
	  <tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Nombre:</td>
	    <td><input name="nombre" type="text" value="<!--{$datos.nombre|sslash}-->" class="text" style="width:200px;" id="nombre" maxlength="50" /></td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Apellido:</td>
	    <td><input name="apellido" type="text" value="<!--{$datos.apellido|sslash}-->" class="text" style="width:200px;" id="apellido" maxlength="50" /></td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Ciudad:</td>
	    <td><input name="ciudad" type="text" value="<!--{$datos.ciudad|sslash}-->" class="text" style="width:200px;" id="ciudad" maxlength="50" /></td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Pa&iacute;s:</td>
	    <td><input name="pais" type="text" value="<!--{$datos.pais|sslash}-->" class="text" style="width:200px;" id="pais" maxlength="50" /></td>
	  </tr>
	  <tr>
	    <td class="textform">Skype:</td>
	    <td><input name="skype" type="text" value="<!--{$datos.skype|sslash}-->" class="text" style="width:200px;" id="skype" maxlength="100" /></td>
	  </tr>
	  <tr>
	    <td class="textform"><span class="atencion">*</span> Profesi&oacute;n / Ocupaci&oacute;n:</td>
	    <td><input name="profesion" type="text" value="<!--{$datos.profesion|sslash}-->" class="text" style="width:200px;" id="profesion" maxlength="100" /></td>
	  </tr>
	  <tr>
	    <td class="textform">Empresa:</td>
	    <td><input name="empresa" type="text" value="<!--{$datos.empresa|sslash}-->" class="text" style="width:200px;" id="empresa" maxlength="100" /></td>
	  </tr>
	  <tr>
	    <td class="textform" valign="top">Expectativas sobre<br />el taller:</td>
	    <td><textarea name="expectativas" id="expectativas" style="width:200px;height:120px;"><!--{$datos.expectativas|sslash}--></textarea></td>
	  </tr>
	  <tr>
	    <td valign="top"  class="textform"><span class="atencion">*</span> Foto real y reciente:</td>
	    <td><input id="foto" name="foto" value="<!--{$datos.path_foto|sslash}-->" type="file" class="file" style="width:200px;" />
	    <br><b>M&iacute;nimo:</b>80x80 <b>M&aacute;ximo:</b>2048x2048</td>
	  </tr>
	  <tr>
	    <td>&nbsp;</td>
	    <td>&nbsp;</td>
	  </tr>
	  <tr>
	    <td colspan="2"><div align="right">
	      <input type="submit" value="Siguiente &gt;" />
	    </div></td>
	  </tr>
	</table>
	</form>

</div>